 body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: black;
      color: white;
    }

    /* Navbar */
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      background-color: black;
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .logo {
      font-size: 2.5rem;
      font-weight: bold;
      background: linear-gradient(180deg, #dc5eff, #8621f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      margin-left: 40px;
    }

    .logo:hover {
      transform: scale(1.1);
    }

    .nav-links {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }

    .nav-links li {
      margin-left: 50px;
    }

    .nav-links a {
      text-decoration: none;
      color: white;
      font-size: 1rem;
      padding: 8px 0;
      display: inline-block;
      position: relative;
      transition: transform 0.3s ease-in-out;
      font-weight: 500;
    }

    .nav-links a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1.8px;
      background: linear-gradient(90deg, #dc5eff, #8621f1);
    }

    .nav-links a:hover {
      transform: scale(1.1);
    }

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  min-height: 80vh;
}
section {
  scroll-margin-top: 80px; /* same as navbar height */
}
.home-left {
  flex: 1;
}

.home-name {
  font-size: 3rem; 
  font-weight: 900;
  background: linear-gradient(180deg, #dc5eff, #8621f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-line {
  width: 800px;
  height: 2.5px;
  margin: 1px 0 2px;
  background: linear-gradient(90deg, #b636da, #6a11cb);
  border-radius: 3px;
}

.home-intro {
  font-size: 1.2rem;
  color: #d7d7d7;
  line-height: 1.8;
  margin-bottom: 10px;
}

.social-icons a {
  margin-right: 18px;
  font-size: 1.5rem;
  margin-left:-10px;
  color: #8621f1;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  
}

.social-icons a:hover {
  background: linear-gradient(90deg, #b636da, #6a11cb);
  color: white;
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px; /* for subtle 3D effect */
}

.profile-photo {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
   box-shadow: 0 12px 15px rgba(134, 33, 241, 0.7); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-photo:hover {
  transform: scale(1.05);
  box-shadow: 12px 0 35px rgba(134, 33, 241, 0.7);
}



#skills {
  padding: 20px 40px;
  text-align: center;
  scroll-margin-top: 80px;
  min-height: 80vh;
}

.section-title {
  font-size: 2.2rem;
  background: linear-gradient(180deg, #dc5eff, #8621f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto 50px; /* center horizontally and add bottom spacing */
  font-weight: 700;
  text-align: center; /* ensure centered */
  position: relative;
}


.skills-bars {
  max-width: 800px;
  margin: 0 auto;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  color: #f2ecec;
  font-weight: 500;
}

.progress {
  position: relative;
  flex: 1;
  height: 5px;
  background-color: #e7dddd;
  border-radius: 4px;
  margin-left: 20px;
}

.progress-fill {
  height: 100%;
    background: linear-gradient(180deg, #dc5eff, #8621f1);
  border-radius: 2px;
  transition: width 1s ease-in-out;
}
#projects {
  padding: 60px 40px;
  text-align: center;
  min-height: 80vh;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.project-card {
  position: relative;
  width: 320px; /* slightly wider */
  min-height: 240px; /* slightly taller */
  background-color: #1b1c2b;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  border: 2px solid  #6a11cb; /* added border */
  padding: 25px;
  overflow: hidden;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  border-color: #b636da; /* subtle hover color change */
}

.project-info h3 {
  margin-bottom: 12px;
  font-size: 1.5rem; /* increased font size */
  color: #fff;
}

.project-info p {
  margin-bottom: 12px;
  font-size: 1rem; /* increased font size */
  color: #ccc;
  line-height: 1.4;
}

/* Overlay */
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 17, 40, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card:hover .project-info {
  opacity: 1;
}

.project-card:hover .project-overlay {
  opacity: 1;
}
#certificates, #projects, #skills {
  text-align: center;
}

.project-overlay .btn {
  padding: 12px 24px; /* slightly larger button */
  font-size: 1.1rem; /* increased font size */
  background: linear-gradient(90deg, #dc5eff, #8621f1);
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.3s ease;
}

.project-overlay .btn:hover {
   background: linear-gradient(90deg, #8621f1, #dc5eff);
  transform: scale(1.05); 
}
#certifications {
  padding: 60px 20px;
  color: #fff;
  text-align: center;
  min-height: 80vh;
}
.certifications-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.cert-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #1b1c2b;
  border-left: 4px solid #b636da;
  padding: 15px 12px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  transition: transform 0.3s ease, border-color 0.3s ease;
  height:auto; 
}
.cert-card::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 20px;
  width: 16px;
  height: 16px;
  background: linear-gradient(180deg, #b636da, #6a11cb);
  border-radius: 50%;
  border: 2px solid #0f111a;
}
.cert-card:hover {
  transform: translateY(-5px);
}
.cert-card h3 {
  font-size: 1.05rem;
  margin: 0 1 5px;
}
.cert-card p {
  font-size: 0.9rem;
  color: #ccc;
  margin: 2px 0;
  line-height: 1.3;
}
.cert-card a {
  margin-top: 6px;
  font-size: 0.9rem;
  display: inline-block;
  text-decoration: none;
  color:#bc88f3
}
/* Contact Section */
#contact {
  padding: 70px 20px;
  color: #fff;
  text-align: center;
  scroll-margin-top: 80px;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 2px solid #8621f1; /* violet border */
  background-color: #0f0f0f; /* dark background */
  color: #fff; /* white text */
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 2px solid #dc5eff; /* gradient-inspired violet on focus */
  box-shadow: 0 0 8px #dc5eff;
}

.contact-form textarea {
  resize: none;
}

.btn-submit {
  padding: 12px 20px;
  background: linear-gradient(90deg, #dc5eff, #8621f1);
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-submit:hover {
  background: linear-gradient(90deg, #8621f1, #dc5eff);
}

.contact-info {
  margin-top: 20px;
  font-size: 1rem;
  color: #f6f4f4;
  text-align: center;
}

.contact-info a {
  color: #a964f3;
  text-decoration: none;
}
/* Footer */
footer {
  background-color: #111;
  padding: 10px 0;
  text-align: center;
  color: #ccc;
}

.footer-social {
  margin-top: 3px;
}

.footer-social a {
  color: #8621f1;
  margin: 0 8px;
  font-size: 1.5rem;
  transition: 0.3s;
}

.footer-social a:hover {
  color: #dc5eff;
  transform: scale(1.1);
}
.btn-resume {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #dc5eff, #8621f1);
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}

.btn-resume:hover {
  background: linear-gradient(0deg, #8621f1, #dc5eff);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .btn-resume {
    padding: 6px 16px;   /* smaller padding */
    font-size: 0.9rem;   /* smaller font size */
    margin-top: 15px;    /* optional: adjust spacing */
  }

  .btn-resume:hover {
    transform: scale(1.02); /* slightly smaller hover effect */
  }

  /* Home Section */
  #home {
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .home-left, .home-right {
    flex: unset;
    width: 100%;
  }

  .home-left {
    order: 2;
  }

  .home-right {
    order: 1;
    margin-bottom: 20px;
  }

  .profile-photo {
    width: 180px;
    height: 180px;
    margin: 0 auto 20px auto;
  }

  .home-intro {
    font-size: 0.7rem;
    line-height: 1.5;
    margin: 10px auto;
  }

  .home-line {
    width: 60%;
    margin: 10px auto;
  }

  /* Skills Section */
  #skills {
    padding: 40px 20px;
  }

  .skills-bars {
    width: 95%;
    margin: 0 auto;
  }

  /* Projects Section */
  #projects {
    padding: 40px 20px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .project-card {
    width: 80%;
    min-height: auto;
    padding: 10px;
  }
  .project-info h3 {
    font-size: 1.1rem;
  }
  .project-info p{
    font-size: 0.7rem;
  }
  /* Certificates Section */
  #certificates {
    padding: 10px 10px;
    align-items: center;
  }

  .certifications-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
  }

  .cert-card {
    width: 100%;
    padding: 10px;
  }

  .cert-card h3 {
    font-size: 1rem;
  }

  .cert-card p, .cert-card a {
    font-size: 0.7rem;
  }

  /* Contact Section */
  #contact {
    padding: 20px 10px;
  }

  .contact-container {
    width: 90%;
    margin: 0 auto;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.95rem;
    padding: 10px;
  }

  .btn-submit {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }

  /* Footer */
  footer {
    text-align: center;
    padding: 20px 10px;
  }

  .footer-social {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .footer-social a {
    font-size: 1.4rem;
  }

  /* Buttons and Links */
  .btn-resume, .project-overlay .btn {
    width: 80%;
    text-align: center;
    margin: 10px auto;
    padding: 12px 0;
    font-size: 1rem;
  }
}
